version 8.0.3

framework: auto-detect

source https://nuget.org/api/v2
storage: none

nuget FSharp.Core ~> 6
nuget FSharp.Data
nuget MathNet.Numerics
nuget MathNet.Numerics.FSharp
nuget RProvider 2.1.0
nuget DiffSharp.Backends.Reference 1.0.7

group Test
    source https://nuget.org/api/v2
    storage: none
    nuget Expecto
    nuget Expecto.BenchmarkDotNet
    nuget Expecto.FsCheck
    nuget Expecto.Hopac
