version 5.198.0

framework: auto-detect

source https://nuget.org/api/v2
storage: none

nuget FSharp.Core 4.5.0
nuget FSharp.Data
nuget MathNet.Numerics
nuget MathNet.Numerics.FSharp
nuget Accord.Statistics
nuget RProvider 2.0.0-beta

nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck