source https://www.nuget.org/api/v2

nuget FSharp.Data >= 3 beta rc
nuget NETStandard.Library.NETFramework
nuget RProvider
nuget MathNet.Numerics
nuget MathNet.Numerics.FSharp

group Test

    source https://nuget.org/api/v2

    nuget Expecto
    nuget Expecto.BenchmarkDotNet
    nuget Expecto.FsCheck
    nuget Expecto.Hopac
